.ascii-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    pointer-events: none; /* Can't click on it */
}

.ascii-background pre {
    font-family: monospace;
    font-size: 15px; /* Adjust size as needed */
    line-height: 1;
    color: rgb(38, 28, 225); 
    margin: 0;
    white-space: pre;
}

.container{
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-rows: auto auto auto auto;
      gap: 40px;
}

/* .container > div {
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(207 232 220);
  border: 2px solid rgb(79 185 227);
} */

.cover img{
    width: 200px;
    height: auto; 
}
.cover {
    grid-row: 2/-1;
    grid-column: 1;
    position: sticky;
    top: 40px;
    height: fit-content;
    padding:30px;
   

}

.title{
    grid-column: 1/-1;  /* start and end column to span all rows */
    grid-row: 1;
    text-align: center;
}

/* title style */
.one{
 color: rgb(255, 255, 255);
 text-shadow: 4px 0 0 #2c136b, 0 -4px 0 #2c136b, 0 4px 0 #2c136b, -4px 0 0 #2c136b;
 font-family: "Aladin", cursive;
 font-size: 60px;
 margin-top: 25px;
 font-weight: bold;
}

.two{
 color: rgb(35, 37, 34);
 font-family: "Alfa Slab One", serif;
  font-size: 45px;
    margin-top: 25px;
    font-weight: bold;
}
.three{
 color: rgb(18, 21, 164);
 text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
 font-family: "Pixelify Sans", sans-serif;
 font-weight: 700;
 font-size: 60px;
 margin-top: 25px;
 font-weight: bold;
}
.four{
 color: rgb(97, 128, 64);
 font-family: "Alfa Slab One", serif;
  font-size: 45px;
    margin-top: 25px;
    font-weight: bold;
}
.five{
 color: rgb(242, 232, 30);
 text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
 font-family: "Gravitas One", serif;
 font-weight: 400;
  font-size: 45px;
    margin-top: 25px;
    font-weight: bold;
}


.blurb{
    grid-row: 2;
    grid-column: 2;
    
}
.review{
    grid-row: 3;
    grid-column: 2;
}
   

/* blurb and review style */
.a {
    font-family: "Aladin", cursive;
    color: rgba(118, 101, 46, 0.799);
    font-size: 30px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
 .b{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 20px;
}
 .c {
    font-family: "Jersey 25", sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size: 30px;
    font-weight: 700;
} 
.d{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 20px;
}  
.e {
    font-family: "Gravitas One", serif;
    color: black;
    font-size: 15px;
}

.btn {
    padding: 12px 30px;
    border: none;
    border-radius: 50px; /* This creates the pill shape! */
    background-color: rgb(101, 101, 104);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: rgb(151, 173, 184);
    transform: scale(1.05);
}